/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
  width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem); /*700px*/
  margin: auto;
  font-family: var(--text-font), sans-serif;
  font-variation-settings: 'wght' var(--text-font-weight);
  color: var(--main-color);
}

.header {
  width: 100%;
  margin-block: 100px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  font-family: var(--headings-font), fantasy;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-block-start: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem);
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
}

.text_upper {
  text-transform: uppercase;
}

.header__title {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block: 25px;
  margin-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.theme-menu__item {
  height: 14px;
}

.theme-menu__button {
  background: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  font-size: 14px;
  position: absolute;
  left: -20px;
  animation: arrowMove 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 60%;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0%;
  opacity: 60%;
  height: 2px;
  background-color: var(--main-color);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transition: width 0.3s ease;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  font-family: var(--text-font), sans-serif;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--headings-font-weight);
  line-height: 22px;
  text-align: left;
  border-bottom: 2px solid var(--main-color);
}

.card__image-container {
  position: relative;
  max-height: 700px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__image-tag {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--headings-font), fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: var(--tag-color);
  text-shadow: 1px 1px var(--tag-shadow);
  opacity: 50%;
}

@supports((text-stroke: 1px var(--tag-shadow)) or (-webkit-text-stroke: 1px var(--tag-shadow))) {
  .card__image-tag {
      -webkit-text-stroke: 1px var(--tag-shadow);
      text-stroke: 1px var(--tag-shadow);
      text-shadow: none;
  }
} 

.card__text-container {
  border-top: 2px solid var(--main-color);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.card__like-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  background: none;
	color: var(--main-color);
  padding: 0;
  border: 2px solid transparent;
  cursor: pointer;
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition: border 0.3s ease;
}

.card__like-image {
  width: 100%;
  height: 100%;
}

.sparks {
  opacity: 0;
}

.content__button {
  background: var(--bg-color);
	color: var(--button-text-color);
	border: 2px solid var(--main-color);
	font-family: var(--headings-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
	cursor: pointer;
  position: relative;
}

.content__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.content__button::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  transition: width 0.5s ease-in-out;
  z-index: 0;
} 

.content__button:hover::before {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.content__save_button {
  display: block;
  margin: auto;
  margin-block-start: 50px;
  margin-block-end: 105px;
  padding: 15px 19px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.content__save_img {
  height: 21px;
  width: 21px;
}

.content__dialog[open] {
  width: 357px;
  background: var(--bg-color);
  color: var(--main-color);
  padding: 30px;
  font-family: var(--headings-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.content__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.content__dialog_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.content__dialog_info {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.content__dialog_img {
  max-width: 39px;
  max-height: 39px;
  height: 100%;
  width: 100%;
}

.dialog__button {
  background: var(--bg-color);
	border: 2px solid var(--main-color);
	width: 293px;
  height: 38px;
  padding: 0;
}

.filter_sepia {
  filter: sepia(100%);
}

.filter_grayscale {
  filter: grayscale(100%);
}

.filter_invert {
  filter: invert(100%);
}

.filter_draw {
  filter: grayscale(100%) contrast(200%) brightness(150%);
}

.filter_saturate {
  filter: saturate(200%);
}

.filter_blur {
  filter: blur(5px);
}

.filter_contrast {
  filter: contrast(150%);
}

@media (width <= 375px) {
  .page {
    width: 100%;
  }

  .card__image-tag {
    top: 21px;
    right: 11px;
  }

  .button__text {
    flex-direction: column;
  }

  .content__save_img {
    height: 28px;
    width: 28px;
  }

  .content__dialog[open] {
    width: 341px;
  }

  .content__dialog_text {
    width: 198px;
  }

  .dialog__button {
    width: 257px;
  }
}